<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://203.195.182.166:8099/ios/test_version/EastZe-1.4.3-inHouse.ipa</string>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://203.195.182.166:8099/ios/test_version/icon@2x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://203.195.182.166:8099/ios/test_version/icon@2x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hft.EastZeTest</string>
				<key>bundle-version</key>
				<string>1.4.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>汇费通</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
